---
import { Image } from 'astro:assets';
import LinkedIn from "../icons/LinkedIn.astro";
import Instagram from "../icons/Instagram.astro";

interface Props {
  src: ImageMetadata;
  imgAlt?: string;
  title?: string;
  description1?: string;
  description2?: string;
  description3?: string;
  shadowColor?: string;
}

const {
  src,
  imgAlt = "Imagen descriptiva",
  title = "Título de la tarjeta",
  description1 = "Descripción 1",
  description2 = "Descripción 2",
  description3 = "Descripción 3",
  shadowColor = "#ffd153cb"
} = Astro.props;
---

<div class="max-w-xl mx-auto flex flex-col sm:flex-row items-center relative">
  <div class="sm:w-2/2 flex justify-end">
    <div class="relative">      
      <div class="absolute inset-0 opacity-100 transform -translate-x-4 translate-y-4 sm:-translate-x-6 sm:translate-y-6" style={`background-color: ${shadowColor};`}></div>
      <Image
        src={src}
        alt={imgAlt}
        class="w-72 h-auto object-cover relative z-10"
      />
    </div>
  </div>
  
  <div class="sm:w-1/2 text-left sm:ml-12 py-12 sm:py-0">
    <h2 class="text-2xl sm:text-4xl tracking-wider text-gray-900 mb-4">{title}</h2>
    <div class="text-sm sm:text-lg text-gray-900 space-y-2 leading-4 sm:leading-6">
      <p>{description1}</p>
      <p>{description2}</p>
      <p>{description3}</p>
    </div>

    <div class="mt-4 flex space-x-2">
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram" class="p-2 rounded-full bg-transparent hover:bg-[#E4405F] transition-colors duration-300 shadow-md hover:shadow-lg">
        <Instagram />
      </a>
      <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn" class="p-2 rounded-full bg-transparent hover:bg-[#0077B5] transition-colors duration-300 shadow-md hover:shadow-lg">
        <LinkedIn />
      </a>
    </div>      
  </div>
</div>
